@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup,main, nav, section, summary {
	display: block
}
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td, figure, div {
	margin: 0;
	padding: 0;
	font-family: "PingHei","Microsoft YaHei","微软雅黑","Lucida Grande", "Lucida Sans Unicode", "Helvetica","Arial","Verdana","sans-serif";
	-webkit-font-smoothing:antialiased;
}
fieldset, img {
	border: 0 none
}
a, img {
	vertical-align: top
}
a {
	color:#9e9ea0;
	background: transparent;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0)
}
a:active, a:hover {
	outline: 0 none
}
a, a:hover {
	text-decoration: none
}
:focus {
	outline: 0 none
}
address, caption, cite, code, dfn, em, th, var, optgroup {
	font-style: normal;
	font-weight: 400
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%
}
abbr, acronym {
	border: 0 none;
	font-variant: normal
}
input, button, textarea, select, optgroup, option {
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit
}
code, kbd, samp, tt, input, button, textarea, select {
	font-size: 100%
}
ol, ul, li {
	list-style: none
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
sup, sub {
	font-size: 100%;
	vertical-align: baseline
}
blockquote, q {
	quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
	content: ''
}
button, html input[type=button], input[type=reset], input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer
}
button[disabled], html input[disabled] {
	cursor: not-allowed
}
button {
	overflow: visible
}
em, i {
	font-style: normal
}

}
body {
	font: 12px/1.5 PingHei, tahoma, arial, Hiragino Sans GB, \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif;
	color: #000;
}

/*title*/
.header_warp {
	width: 100%;
	height: 70px;
	margin-left: auto;
	margin-right: auto;
	z-index: 997;
	position: absolute;
	top: 0px;
	left: 0px;
}

.header { max-width:1280px; min-width: 985px; height:70px; margin-left:auto; margin-right:auto; }

.header .logo {
	float: left;
	margin-top: 7px;
	margin-bottom: 10px;
}

.header .title { color: #FFA30C; font-size: 20px; float: left; width: 120px; height: 75px; text-align: center; line-height: 75px;}

.nav-bar {
	float: right;
}

.nav-bar a {
	color: #9e9ea0;
	transition: 0.3s;
}

.nav-bar a:hover {
	color: #fff;
}

.nav-bar li {
	margin-left: 30px;
	float: left;
	line-height: 70px;
}

.nav-bar li button {
	border:0px;
	background:rgba(0,0,0,0.3);
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	color: #9e9ea0;
	font-family: "PingHei","Microsoft YaHei","微软雅黑","Lucida Grande", "Lucida Sans Unicode", "Helvetica","Arial","Verdana","sans-serif";
	font-size: 16px;
}

.nav-bar li button:hover {
	color: #ffffff;
}
.nav-bar li button:active {
	color: #9D9D9F;
}

/*登录后*/
.nav-bar_dl {float: right;}
.nav-bar_dl .nav_bar_w { 
	float: left;
	line-height: 70px;
	position: relative;
	color: #999;
	width:100px;
	 text-align: center;
	}
.nav-bar_dl .nav_bar_w button { 
	border:0px;
	background:rgba(0,0,0,0.3);
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	color: #9e9ea0;
	font-family: "PingHei","Microsoft YaHei","微软雅黑","Lucida Grande", "Lucida Sans Unicode", "Helvetica","Arial","Verdana","sans-serif";
	font-size: 16px;
}

.nav-bar_dl .nav_bar_w button:hover {
	color: #ffffff;
}
.nav-bar_dl .nav_bar_w button:active {
	color: #9D9D9F;
}

.heid { width: 100px; height: 70px;}
.heid .heid_bg {  width: 100px; height: 40px; margin-top: 15px;  line-height: 40px;}
.heid .heid_bg img { width: 40px; height: 40px; border-radius: 100%; -webkit-border-radius: 100%; -moz-border-radius: 100%; margin-right: 10px;}

.heid_meun { width: 140px; position: absolute; top: 70px; left: -20px; border-top: 2px solid #FFA30C;}
.heid_meun li { background-color: #fff; line-height: 50px; border-bottom: 1px solid #f0f0f5;}


.heid_meun a {
	color: #9e9ea0;
	transition: 0.3s;
}

.heid_meun a:hover {
	color: #000;
}

.masseg_bg {background-image:  url(../images/small_icon.png); background-repeat:no-repeat; background-position: -236px -146px;  width: 20px; height: 20px; float: left; margin-left: 40px; margin-top: 26px;}



/*don*/

/*合作链接*/
.cooperative_link { height: 420px; border-top: 1px solid #e4e4ea; background-color: #fff; clear: both;}
.cooperative_link_vice {max-width: 1280px; min-width: 985px;  height: 300px; margin-top: 80px; margin-left: auto; margin-right: auto; }
.cooperative_link_item { float: left; width: 25%; height: 100%; }
/*联系我们*/
.contact_us { width: 147px; height: 100%; margin-left: auto; margin-right: auto;}
.contact_us .title { font-size: 15px; line-height: 35px; width: 100%; text-align: left; margin-bottom: 10px;}
.contact_us .icon { height:23px; width:145px; }
.contact_us .icon li { float: left; margin-left: 5px; }
/*联系我们 链接*/
.contact_us .icon .qq { background-image:  url(../images/small_icon.png); background-repeat:no-repeat; display: block;  background-position: 0px -115px;  width: 31px; height: 30px;  }
.contact_us .icon a.qq:hover { background-image:  url(../images/small_icon.png); background-repeat:no-repeat; display: block;  background-position: 0px -144px;  width: 31px; height: 30px;  }
.contact_us .icon .sina_Weibo { background-image:  url(../images/small_icon.png); background-repeat:no-repeat; display: block; background-position: -40px -115px; width: 31px; height: 30px;  }
.contact_us .icon a.sina_Weibo:hover { background-image:  url(../images/small_icon.png); background-repeat:no-repeat; display: block;  background-position: -40px -144px;  width: 31px; height: 30px;  }
.contact_us .icon .email { background-image:  url(../images/small_icon.png); background-repeat:no-repeat; display: block;  background-position: -80px -115px; width: 31px; height: 30px; }
.contact_us .icon a.email:hover { background-image:  url(../images/small_icon.png); background-repeat:no-repeat; display: block;  background-position: -80px -144px;  width: 31px; height: 30px;  }
.contact_us .icon .Fax { background-image:  url(../images/small_icon.png); background-repeat:no-repeat; display: block; background-position: -120px -115px; width: 31px; height: 30px; }
.contact_us .icon a.Fax:hover { background-image:  url(../images/small_icon.png); background-repeat:no-repeat; display: block;  background-position: -120px -144px;  width: 31px; height: 30px;  }
/*联系我们 二维码*/
.contact_us .qr_codes {  background-image: url(../images/qr_codes.png); background-repeat:no-repeat; width: 136px; height: 136px; margin-top: 15px;}
.contact_us .text {color: #616567; width: 100%; line-height: 30px; font-size: 13px; text-align: left; }

/*相关信息*/
.information { width: 90px; height: 100%; margin-left: auto; margin-right: auto; text-align: left;}
.information li { line-height: 35px; font-size: 15px;}
.information a { color: #616567; transition: 0.2s;}
.information a:hover { color: #ffac24;}

/*意见反馈*/
.feedback { width: 220px; height: 100%; margin-left: auto; margin-right: auto;  text-align: left;}
.feedback .title { font-size: 13px; line-height: 35px;  text-align: left;}
.feedback .text { margin-top: 10px; line-height: 25px; width: 220px; font-size: 15px; resize:none;}
.feedback .but { width: 220px; line-height: 35px; border: 0px; background-color: #333; color: #fff; font-size: 13px; margin-top: 10px;}

/*分割线*/
.line { border-bottom: 1px solid #dfdfe0; width: 100%;}


.don{
	min-width: 985px;
	height: 80px;
	margin-left:auto;
	margin-right:auto;
	padding-top: 40px;
	text-align: center;
	background-color: #fff;
}
.don .text { font-size: 12px; color: #999; text-align: center; width: 100%; line-height: 20px;}

.clear{ clear:both}

/*登陆 注册 弹出窗*/
.login_box { width:320px; height: auto; top: 0px; left: 0px; z-index: 999; background-color: #fff; position: fixed; font-size: 14px; box-shadow: 0px 0px 25px #333;}
.login_box #close_btn { background-image: url(../images/small_icon.png); background-repeat:no-repeat;  background-position: -163px -96px; height:34px; width:34px; position: relative; margin-top: 4px; float: right; margin-right: 4px; cursor: pointer;}

/*登陆*/
.login_box .cont_dl { width: 290px; height: 365px; margin-top: 20px; margin-left: 15px; }
.login_box .cont_dl .menu { width: 290px; height: 35px; border-bottom: 2px solid #FFA30C;}
.login_box .cont_dl .menu .focus { color: #FFA30C; background-color: #fff; border-top: 2px solid #FFA30C; border-left: 2px solid #FFA30C; border-right: 2px solid #FFA30C; border-bottom: 2px solid #fff; margin-bottom: -2px;}
.login_box .cont_dl .menu .nofocus { color: #404040; background-color: #f7f7fa; border-top: 2px solid #BEBEC4; border-left: 2px solid #BEBEC4; border-right: 2px solid #BEBEC4; border-bottom: 2px solid #FFA30C; margin-bottom: -2px; }
.login_box .cont_dl .menu .sj { width: 120px; height: 33px; line-height: 33px;  margin-left: 16px; float: left; text-align: center; cursor: pointer;}
.login_box .cont_dl .menu .dr { width: 120px; height: 33px; line-height: 33px; margin-left: 10px; float: left; text-align: center; cursor: pointer;}

.login_box .cont_dl .item { width: 276px; height: 210px; margin-top: 60px; margin-left: 7px; }
.login_box .cont_dl .item .te_1 { width: 270px; height: 40px; border: 1px solid #c4c4c4; padding-left: 5px; }
.login_box .cont_dl .item .te_2 { width: 270px; height: 40px; margin-top: 20px; border: 1px solid #c4c4c4; padding-left: 5px;}
.login_box .cont_dl .item .ch_1 { margin-top: 20px; color: #666;}
.login_box .cont_dl .item em { font-size: 12px; margin-left: 5px; color: #666;}
.login_box .cont_dl .item .le_1 { float: right; margin-top: 15px; color: #FFA30C; cursor: pointer; font-size: 12px;}
.login_box .cont_dl .item .le_1:hover { text-decoration: underline;}
.login_box .cont_dl .item .login { width: 276px; height: 40px; text-align: center; line-height: 40px; background-color: #FFA30C; border: 1px solid #FFA30C; color: #fff; display: inline-block; margin-top: 20px; -webkit-border-radius: 5px; -moz-border-radius: 5px;}


.login_box .cont_dl .qt_dl { width: 276px; height: 114px; margin-top: 25px; margin-left: 7px;}
.login_box .cont_dl .qt_dl .qt { width: 276px; height: 15px; text-align: center; font-size: 14px; color: #999;}
.login_box .cont_dl .qt_dl .qt hr { border: none; border-top: 1px solid #ebebeb; height: 1px;}
.login_box .cont_dl .qt_dl .qt span {margin-top: -18px; display: inline-block; background-color: #fff; width: 100px; font-size: 12px;}
.login_box .cont_dl .qt_dl .item_dl { width: 276px; height: 50px; margin-top: 8px;}
.login_box .cont_dl .qt_dl .item_dl .weixin { background-image: url(../images/small_icon.png); background-repeat:no-repeat; display: inline-block; background-position: -208px -90px; width: 45px; height:45px; margin-left: 30px;}
.login_box .cont_dl .qt_dl .item_dl .qq { background-image: url(../images/small_icon.png); background-repeat:no-repeat; display: inline-block; background-position: -263px -90px; width: 45px; height:45px; margin-left: 40px;}
.login_box .cont_dl .qt_dl .item_dl .wibe { background-image: url(../images/small_icon.png); background-repeat:no-repeat; display: inline-block; background-position: -319px -90px; width: 45px; height:45px; margin-left: 40px; }

.login_box .cont_dl .qt_dl .btn { width: 270px; text-align: center; font-size: 14px; margin-top: 10px; color: #666; font-size: 12px;}
.login_box .cont_dl .qt_dl .btn button { border: 0px; background-color: #fff; color: #FFA30C;}
.login_box .cont_dl .qt_dl .btn button:hover { text-decoration: underline;}


/*重置密码*/
.login_box .cont_yx { width: 290px; height: auto; margin-top: 20px; margin-left: 15px; }
.login_box .cont_yx .log { width: 290px; height: 150px; text-align: center;}
.login_box .cont_yx img { width: 56px; height: 56px; margin-top: 40px; margin-bottom: 40px;}
.login_box .cont_yx .mile { width: 280px; height: 35px; line-height: 35px; border: 1px solid #c4c4c4; padding-left: 5px;}
.login_box .cont_yx .tishi {color:red; font-size: 14px;}
.login_box .cont_yx .btn_mail { background-color: #FFA30C; border:0px; width: 285px; height: 40px; line-height: 40px; color: #fff; -webkit-border-radius: 5px; -moz-border-radius: 5px; margin-top: 30px; margin-bottom: 30px;}

.cont_tishi { width: 290px; height: 170px; margin-top: 20px; margin-left: 15px; text-align: center; line-height: 40px; }
.cont_tishi .mail_site { width: 290px; height: 50px; overflow: hidden;}
.cont_tishi .mail_site a { text-decoration: underline; color: #337ab7; line-height: 24px;}

/*注册*/
.login_box .cont_zc { width: 290px; height: 415px; margin-top: 40px; margin-left: 15px;}
.login_box .cont_zc .menu { width: 290px; height: 35px; border-bottom: 2px solid #FFA30C;}
.login_box .cont_zc .menu .focus { color: #FFA30C; background-color: #fff; border-top: 2px solid #FFA30C; border-left: 2px solid #FFA30C; border-right: 2px solid #FFA30C; border-bottom: 2px solid #fff; margin-bottom: -2px;}
.login_box .cont_zc .menu .nofocus { color: #404040; background-color: #f7f7fa; border-top: 2px solid #BEBEC4; border-left: 2px solid #BEBEC4; border-right: 2px solid #BEBEC4; border-bottom: 2px solid #FFA30C; margin-bottom: -2px; }
.login_box .cont_zc .menu .sj { width: 120px; height: 33px; line-height: 33px;  margin-left: 16px; float: left; text-align: center; cursor: pointer;}
.login_box .cont_zc .menu .dr { width: 120px; height: 33px; line-height: 33px; margin-left: 10px; float: left; text-align: center; cursor: pointer;}

.login_box .cont_zc .item { width: 276px; height: 210px; margin-top: 30px; margin-left: 7px; }
.login_box .cont_zc .item .te_1 { width: 270px; height: 40px; border: 1px solid #c4c4c4; padding-left: 5px;}
.login_box .cont_zc .item .te_2 { width: 270px; height: 40px; margin-top: 20px; border: 1px solid #c4c4c4; padding-left: 5px;}
.login_box .cont_zc .item .login { width: 276px; height: 40px; text-align: center; line-height: 40px; background-color: #FFA30C; border: 1px solid #FFA30C; color: #fff; display: inline-block; margin-top: 40px; -webkit-border-radius: 5px; -moz-border-radius: 5px;}


.login_box .cont_zc .qt_dl { width: 276px; height: 114px; margin-top: 15px; margin-left: 7px;}
.login_box .cont_zc .qt_dl .qt { width: 276px; height: 15px; text-align: center; font-size: 14px; color: #999;}
.login_box .cont_zc .qt_dl .qt hr { border: none; border-top: 1px solid #ebebeb; height: 1px;}
.login_box .cont_zc .qt_dl .qt span {margin-top: -18px; display: inline-block; background-color: #fff; width: 100px; font-size: 12px;}
.login_box .cont_zc .qt_dl .item_dl { width: 276px; height: 50px; margin-top: 8px;}
.login_box .cont_zc .qt_dl .item_dl .weixin { background-image: url(../images/small_icon.png); background-repeat:no-repeat; display: inline-block; background-position: -208px -90px; width: 45px; height:45px; margin-left: 30px;}
.login_box .cont_zc .qt_dl .item_dl .qq { background-image: url(../images/small_icon.png); background-repeat:no-repeat; display: inline-block; background-position: -263px -90px; width: 45px; height:45px; margin-left: 40px;}
.login_box .cont_zc .qt_dl .item_dl .wibe { background-image: url(../images/small_icon.png); background-repeat:no-repeat; display: inline-block; background-position: -319px -90px; width: 45px; height:45px; margin-left: 40px; }

.login_box .cont_zc .qt_dl .btn { width: 270px; text-align: center; font-size: 12px; margin-top: 10px; color: #666;}
.login_box .cont_zc .qt_dl .btn button { border: 0px; background-color: #fff; color: #FFA30C;}
.login_box .cont_zc .qt_dl .btn button:hover { text-decoration: underline;}

#zz{ background-color: #000; width: 100%; z-index: 998; position: fixed; top: 0px; left: 0px;}
