@charset "UTF-8";

body { background: #f0f0f5;}

/*重置密码流程*/
.logo { width: 82px; height: 82px; margin-top: 100px; margin-left: auto; margin-right: auto;}
.form-warp { width: 285px; height: 190px; margin-left: auto; margin-right: auto; font-size: 14px;}
.password_1 { width: 276px; height: 40px; margin-top: 44px; padding-left: 5px; }
.password_2 { width: 276px; height: 40px; margin-top: 20px; padding-left: 5px;}
.password_reset { width: 285px; height: 42px; background: #ffa30c; border-radius: 4px; text-align: center; display: block; line-height: 42px; color: #fff; margin-top: 45px;}
.password_reset:hover { background: #ffbb0e;}
.notice { text-align: center; font-size: 14px; color: #333; margin-top: 52px;}
.notice a { color: #ffa30c;}
.notice a:hover { text-decoration: underline;}
.forget_text { float: right; margin-top: 10px;}
.forget_text:hover { text-decoration: underline;}
.mail { width: 276px; height: 40px; margin-top: 44px; padding-left: 5px; }
.send_mail { width: 285px; height: 42px; background: #ffa30c; border-radius: 4px; text-align: center; display: block; line-height: 42px; color: #fff; margin-top: 45px;}
.send_mail:hover { background: #ffbb0e;}
