@charset "UTF-8";

.master_zcxq {width: 770px; height: auto;  background-color: #fff; border: 1px solid #d1d1d5; float: right; padding-bottom: 30px; }
.master_zcxq .zcxq_title { margin-top: 30px; color: #404040; font-size: 14px; width: 770px; margin-bottom: 30px; text-indent: 2em;}

.master_zcxq .zcxq_cont { margin-left: 30px; margin-top: 30px; width: 100%; height: 20px; }
.master_zcxq .zcxq_cont div { width: 100px; line-height: 20px; float: left; font-size: 14px;}


.master_zcxq .yzzp_title  { margin-top: 55px; padding-left: 30px; color: #404040; font-size: 15px; width: 100%;}
.master_zcxq .yzzp_cont { margin-top: 30px; margin-left: 30px; width: 100%; }
.master_zcxq .yzzp_cont .addlink { width: 100%; height: 35px; }
.master_zcxq .yzzp_cont .addlink input { width: 555px; height: 35px; float: left;}
.master_zcxq .yzzp_cont .addlink button { width: 110px; height: 33px; margin-left: 20px; border: 1px solid #d1d1d5; background-color: #fff; color: #676767; margin-top: 1px; -webkit-border-radius: 4px; -moz-border-radius: 4px;}
.master_zcxq .yzzp_cont .addlink button a { border: 1px solid #d1d1d5; color: #676767; }
.master_zcxq .yzzp_cont .addlink button a:hover { border: 1px solid #d1d1d5; color: #FFA30C; }
.master_zcxq .linkshow { margin-top: 20px; width: 100%;}
.master_zcxq .linkshow table { border: 1px solid #dcdcdc;}
.master_zcxq .linkshow tr { text-align: center; height: 40px; font-size: 15px; color: #999;}
.master_zcxq .linkshow input { width: 555px; height: 40px; border:0px; text-align: center; font-size: 14px;}
.master_zcxq .linkshow button { width: 125px; height: 40px; border:0px; background-color: #fff; text-align: center; font-size: 14px;}
.master_zcxq .linkshow .grzl { width: 555px; height: 40px;  background-color: #f0f0f5; color: #646464; font-size: 14px;}
.master_zcxq .linkshow .cz { width: 125px; background-color: #f0f0f5; color: #646464; font-size: 14px;}

.master_zcxq .but { width: 100%; text-align: center;}
.master_zcxq .sub { width: 215px; height: 45px; background-color: #FFA30C; border: 0px; color: #fff; margin-top: 60px; font-size: 16px; margin-bottom: 136px;}
.master_zcxq .sub:hover { width: 215px; height: 45px; background-color: #ffbb0e; color: #fff; };


/*流程图*/
.flow { width: 646px; height: 80px; margin-top: 30px; margin-bottom: 30px; margin-left: auto; margin-right: auto; font-size: 14px; color: #404040;}
.flow .flow_bg { width: 646px; height: 60px; margin-left: auto; margin-right: auto; }
.flow .flow_bg .flow_bg_dq {  background-image: url(../../images/small_icon.png); background-repeat:no-repeat;  background-position: -0px -374px; height:40px; width:472px; float: left; }
.flow .flow_bg .flow_bg_hx { background-image: url(../../images/small_icon.png); background-repeat:no-repeat;  background-position: -472px -415px; height:40px; width:174px; float: left;}
.flow  .flow_text { width: 646px; height: 20px; margin-left: auto; margin-right: auto; }
.flow  .flow_text div { float: left; width: 129px; text-align: center;}


/*
*{ border: 1px solid red;}*/
