@charset "UTF-8";

.master_zhxx_name { width: 770px; height: 639px;  background-color: #fff; border: 1px solid #d1d1d5; float: right; padding-bottom: 30px;}
.master_zhxx_name .page_title { line-height: 50px; background-color: #f0f0f5; padding-left: 30px; color: #404040; font-size: 14px;}
.master_zhxx_name .page_cont { margin-left: 50px; margin-top: 50px; }
.master_zhxx_name .page_cont .title { width: 100%; height: 50px; }
.master_zhxx_name .page_cont  em { color: #999;}
.master_zhxx_name .page_cont .text1 { margin-left: 20px; width: 262px; height: 35px;}
.master_zhxx_name .page_cont .bnt_bg { width: 100%; margin-top: 50px;}
.master_zhxx_name .page_cont .bnt_bg .bnt { width: 210px; height: 40px; color: #fff; background-color: #FFA30C; border: 0px; margin-left: 84px;}
.master_zhxx_name .page_cont .bnt_bg .bnt:hover { width: 210px; height: 40px; background-color: #ffbb0e; color: #fff;  border: 0px; }
