@charset "UTF-8";

.header_warp { background-color: #000;}

/*用户中心*/
.centre_bg { width: 100%; height: 100%; background-color: #F0F0F5; margin-top: 70px;}

.centre { width: 1000px; height: 100%; margin-left: auto; margin-right: auto; padding-top: 15px; padding-bottom: 100px;}
.centre .centre_title { padding-bottom: 15px; font-size: 13px; color: #444;}
.left_menu { float: left;  width: 200px; height: auto; border-bottom: 1px solid #d1d1d5; border-left: 1px solid #d1d1d5; border-right: 1px solid #d1d1d5; background-color: #fff; margin-bottom: 1px; }
.menu_item { background-color: #fff;}

.menu_item .item_title { line-height: 40px; background-color: #F7F7FC; display: block; padding-left: 24px; border-bottom: 1px solid #d1d1d5; border-top: 1px solid #d1d1d5;}
.menu_item ul { margin-top: 4px;}
.menu_item li { line-height: 40px; padding-left: 24px; width:172px; float: right; background: #fff; font-size: 14px;}
.menu_item a { display: block; width: 100%; transition: 0.3s; color: #404040;}
.menu_item a:hover { color: #ffa30c;}
.page-sel { border-left: 4px solid #FFA30C; color: #FFA30C;}
.page-sel a { color: #FFA30C;}


