@charset "UTF-8";

.master_zhxx_password { width: 770px; height: 638px;  background-color: #fff; border: 1px solid #d1d1d5; float: right; padding-bottom: 30px; }
.master_zhxx_password .page_cont { margin-left: 50px; margin-top: 50px; }
.master_zhxx_password .page_cont .item { margin-bottom: 30px; }
.master_zhxx_password .page_cont .item_ { margin-bottom: 30px; padding-left: 170px; }
.master_zhxx_password .page_cont  em { color: #444; width: 150px; display: inline-block; text-align: right;}
.master_zhxx_password .page_cont .text1 { margin-left: 20px; width: 262px; height: 35px;}


.master_zhxx_password .jingdu { display: inline-block; width: 155px;  margin-right: 5px;}

.master_zhxx_password .jingdu .red { background-color: #fff; height: 3px; border-top: 5px solid red; display: inline-block; width: 30%;}
.master_zhxx_password .jingdu .grey { background-color: #fff; height: 3px; border-top: 5px solid #dddddd; display: inline-block; width: 70%; }

.master_zhxx_password .page_cont .bnt_bg { width: 100%; margin-top: 50px; padding-left: 170px;}
.master_zhxx_password .page_cont .bnt_bg .bnt { width: 210px; height: 40px; color: #fff; background-color: #FFA30C; border: 0px; }
.master_zhxx_password .page_cont .bnt_bg .bnt:hover { width: 210px; height: 40px; background-color: #ffbb0e; color: #fff;  border: 0px; }
