@charset "UTF-8";

.master_grzl { width: 770px; height: auto; min-height: 670px; float: right; border: 1px solid #d1d1d5; background-color: #fff;}
.master_grzl .title { line-height: 50px; background-color: #f0f0f5; padding-left: 30px; color: #404040; font-size: 14px;}
.master_grzl .user_xx { margin-left: 50px; margin-top: 50px;}
.master_grzl .user_xx li { margin-bottom: 25px; font-size: 14px; color:#404040;}
.master_grzl .user_xx em { width: 105px; height: 40px; line-height: 40px; display: inline-block; text-align: right; color: #404040; font-size: 14px; margin-right: 30px;}
.master_grzl .user_xx .text1 { width: 260px;  line-height: 35px; padding-left: 5px;}
.master_grzl .user_xx .text2 { width: 20px;  line-height: 40px; }
.master_grzl .user_xx .text3 { width: 420px; resize:none; padding-left: 5px; padding-top: 5px;}
.master_grzl .user_xx .text4 { float: left; }
.master_grzl .user_xx .but { width: 215px; height: 40px; background-color: #FFA30C; border: 0px; color: #fff;  transition: 0.3s; font-size: 16px;  }
.master_grzl .user_xx .but:hover { width: 215px; height: 40px; background-color: #ffbb0e; color: #fff; font-size: 16px; border: 0px; }
.master_info { width: 400px;}
