@charset "UTF-8";

.merchant_zhxx { width: 770px; height: 558px; float: right; border: 1px solid #d1d1d5; background-color: #fff; padding-bottom: 30px; }
.merchant_zhxx .title { line-height: 50px; background-color: #f0f0f5; padding-left: 30px; color: #404040; font-size: 14px;}
.merchant_zhxx .user_bg { margin-left: 50px; margin-top: 50px; float: left;}
.merchant_zhxx .user_bg img { width: 162px; height: 162px; padding: 4px; border: 1px solid #D1D1D5; z-index: 0;}
.merchant_zhxx .user_bg a { display: block; width: 162px; height: 26px; line-height: 26px; text-align: center; margin-left: 5px; background-color: #ffa30c;  z-index: 3; color: #fff; position: relative; margin-top: -31px; opacity: 0.7; font-size: 12px;}
.merchant_zhxx .user_zl { float: left; margin-left: 40px; margin-top: 50px; font-size: 14px; color: #404040;}
.merchant_zhxx .user_zl li { line-height: 44px;}
.merchant_zhxx .user_zl em { margin-left: 5px; margin-right: 10px; width: 200px; display: inline-block;}
.merchant_zhxx .user_zl a { color: #337ab7;}
.merchant_zhxx .user_zl a:hover {color: #337ab7; text-decoration: underline;}
